.container {
  font-family: 'Work Sans Variable', sans-serif;
  min-height: 82px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;




  /*border-radius: 50px 0px 0px 50px;*/



}


.group {
  display: flex;
  gap: 30px;

  align-items: center;
  flex-wrap: wrap;
  row-gap: 0px;
}




.photo {
  width: 60.62px;
  height: 60.62px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: fill;
  position: relative;




}

.photo::before {

  border-radius: 50px;

  border: 1px solid transparent;
  padding: 10px;
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #55C6F7, #2AF8BA) border-box;
  /*3*/
  -webkit-mask:
    /*4*/
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  /*5'*/




}

.name {

  font-size: 25px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: -0.05em;
  display: flex;
  align-items: center;
  color: #FFF;
  cursor: pointer;
  min-width: 250px;
}

.nameActive {
  font-size: 25px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: -0.05em;
  display: flex;
  align-items: center;
  background: var(--vd, linear-gradient(90deg, #55C6F7 0%, #2AF8BA 107.16%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  min-width: 250px;

}

.name:hover {
  background: var(--vd, linear-gradient(90deg, #55C6F7 0%, #2AF8BA 107.16%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.email {
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -0.05em;
  display: flex;
  align-items: center;
  color: #595959;


}


.text {
  font-size: 21px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.05em;
  text-align: center;
  display: flex;
  align-items: center;

  color: #FFF;
}



.access {
  min-width: 171px;
  height: 44.76px;
  border-radius: 51.39px;

  /*background: var(--vd, linear-gradient(90deg, #55C6F7 0%, #2AF8BA 107.16%));*/
  background: rgba(217, 217, 217, 0.1);
  backdrop-filter: blur(7.552681922912598px);
  color: #FFF;
  font-size: 17.955px;
  font-style: normal;
  font-weight: 500;
  line-height: 133.125%;
  /* 23.902px */
  letter-spacing: -0.718px;

  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;


}

.access::before {
  border-radius: 57.4px;
  border: 1.76px solid transparent;
  padding: 10px;
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #55C6F7, #2AF8BA) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;

}

.accessText {
  min-width: 120px;

}

.status {
  margin-top: 4px;

}



.divider {
  border: 1px solid rgba(89, 89, 89, 1);
}

.expiryDate {
  min-width: 120px;
  margin-left: -20px;
  color: #595959;
  font-size: 18px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: -0.05em;
}