.container {
  font-family: 'Work Sans Variable', sans-serif;
  position: relative;

height: 960px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;


}

.exit {
  position: absolute;
  top: 80px;
  right: 80px;
  
}



.photo {
  width: 140px;
height: 140px;
flex-shrink: 0;
border-radius: 70.336px;
border: 1px solid var(--vd, #55C6F7);

}

.title {

margin-top: 30px;
color: #FFF;
font-size: 50px;
font-style: normal;
font-weight: 700; 
line-height: 60px;
}

.date {
  color: rgba(255, 255, 255, 0.18);
text-align: center;
font-size: 31.377px;
font-style: normal;
font-weight: 600;
line-height: 45.135px; /* 143.851% */
}





.startButton {
  width: 285.531px;
  height: 59.667px;
  flex-shrink: 0;
  border-radius: 40.783px;
background: var(--vd, linear-gradient(90deg, #55C6F7 0%, #2AF8BA 107.16%));
margin-top: 16px;
}



.ellipse1 {
  position: absolute;
  top: 0px;
    left: 0px;
    
}



.ellipse2 {
  position: absolute;
  bottom: 0px;
    right: 0px;
    
}







