.header {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  
  
  }

.container {

  display: flex;
  flex-direction:column;

  font-family: 'Work Sans Variable', sans-serif;
  gap: 50px;
  background-color: #171717;


}


.divider {

height: 1px;
flex-shrink: 0;
stroke-width: 1px;
background: #5C5C5C;

}






