.container {

  display: flex;
  flex-direction:column;
  height: 2000px;
  font-family: 'Work Sans Variable', sans-serif;
  gap: 50px;
  padding: 50px;

}


.divider {

height: 1px;
flex-shrink: 0;
stroke-width: 1px;
background: #5C5C5C;

}






