.container {
  font-family: 'Work Sans Variable', sans-serif;
  position: relative;
  box-shadow: 0px 4px 11.2px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4.400000095367432px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
  background-color: #171717;
}




.title {
  color: #FFF;
  text-align: center;
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  /* 103.226% */

}

.notFound {
  background: var(--vd, linear-gradient(90deg, #55C6F7 0%, #2AF8BA 107.16%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 100px;
  font-weight: 700;

}



.button {
  width: 285.531px;
  height: 45.66px;
  flex-shrink: 0;
  border-radius: 40.783px;

  background: var(--vd, linear-gradient(90deg, #55C6F7 0%, #2AF8BA 107.16%));

  box-sizing: border-box;
  color: #FFF;
  font-size: 14.026px;
  font-style: normal;
  font-weight: 600;
  line-height: 32.132px;
  /* 229.09% */
  margin-bottom: 16px;
}


.ellipse1 {
  position: absolute;
  top: 0px;
  left: 0px;

}



.ellipse2 {
  position: absolute;
  bottom: 0px;
  right: 0px;

}

@media (max-width: 763px) and (orientation:portrait) , (max-height:763px) and (orientation:landscape){
  .title {
    margin-top: 120px;

  }
  .text {
    width: auto;
  }

  .container {
    height: auto;
    min-height: 100vh;
  }
  .ellipse1 {
    display: none;
  }
  .ellipse2 {
    display: none;
  }
}

@media (max-height:763px) and (orientation:landscape){ 
  .container {
    padding-bottom: 20px;
  }

}