.container {
  font-family: 'Work Sans Variable', sans-serif;

  display: flex;

  
  
  justify-content: center;

  position: relative;


  
}





.left {
  display: flex;
  flex-direction: column;
 gap: 60px;
 justify-content: center;
 align-items: center;
 
}

.title {
  color: #FFF;
  text-align: center;

  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 120% */
  z-index: 1;
}

.photo {
  width: 220px;
height: 220px;
flex-shrink: 0;
border-radius: 305px;

align-items: center;
justify-content: center;
display: flex;
position:relative;
z-index: 1;
}

.photo::before {
  border-radius:  305px;
  border: 10px solid transparent;
  padding: 10px; 
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #55C6F7, #2AF8BA) border-box; /*3*/
  -webkit-mask: /*4*/
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/

}

.footerButton {
  color: #5C5C5C;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 22.375px; /* 139.844% */
border: none;
background: none;
text-decoration-line: underline;
z-index: 1;


}
.footerButton:hover {
  background: var(--vd, linear-gradient(90deg, #55C6F7 0%, #2AF8BA 107.16%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
box-shadow: none;

}






.right {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 750px;
  margin-top: 175px;
  z-index: 1;


  

  
}

.settingsContainer{
  display: flex;

  justify-content: end;

 
}


.settingsButton {

  display: flex;
width: 269px;
height: 51px;
padding: 15px 29px 15px 32.5px;
justify-content: center;
align-items: center;
gap: 13.5px;
flex-shrink: 0;
  border-radius: 51.39px;
border: 1.758px solid var(--vd, #55C6F7);
background: rgba(217, 217, 217, 0.10);
backdrop-filter: blur(6.7618255615234375px);
color: #FFF;
font-size: 16.075px;
font-style: normal;
font-weight: 500;
line-height: 133.125%; /* 21.399px */
letter-spacing: -0.643px;
margin-top: -143px;

}



.footerButtons {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: end;
  z-index: 1;
  
}


.ellipse1{
  position: absolute;
  top: -55px;
  left: -50px;
}


