.tabs {
    font-size: 15.178px;
    font-style: normal;
    font-weight: 500;
    line-height: 140.76%; /* 21.364px */
    letter-spacing: -0.759px;
    background: var(--vd, linear-gradient(90deg, #55C6F7 0%, #2AF8BA 107.16%));
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    gap: 40px;

    z-index: 1;
    margin-left: 30px;



}

.tab::before {
    border: 1px solid transparent;
    border-bottom: none;
    padding: 10px; 
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    content: "";
    position: absolute;
    width: 140px;
    inset: 0;
    background: linear-gradient(90deg, #55C6F7, #2AF8BA) border-box; /*3*/
    -webkit-mask: /*4*/
       linear-gradient(#fff 0 0) padding-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor; /*5'*/

  
  }

.tab {
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    padding: 10px;
    cursor: pointer;
    border-bottom: none;
    width: 140px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    position: relative;
    z-index: 1;
    background: var(--vd, linear-gradient(90deg, #55C6F7 0%, #2AF8BA 107.16%));
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

   


}

.rectangle {
    border: 1px solid;
    height: 30px;
    border-image: linear-gradient(90deg, #55C6F7, #2AF8BA) 1;

}

.activeTab {

    border-bottom: 3px solid #171717;
    margin-bottom: -2px;

    z-index: 1;
    background: var(--vd, linear-gradient(90deg, #55C6F7 0%, #2AF8BA 107.16%));
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;

    
}