.container {
  font-family: 'Work Sans Variable', sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;


  position: relative;

  /*border-radius: 50px 0px 0px 50px;*/

  background: linear-gradient(90deg, rgba(85, 198, 247, 0.10) 0%, rgba(42, 248, 186, 0.10) 107.16%), #171717;

  padding-left: 81px;
  padding-right: 81px;



}

.title {
  color: #FFF;

  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 71.925px;
  /* 143.851% */
  margin-top: 187px;



}

.subtitle {
  font-size: 25px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: -0.05em;
  display: flex;
  align-items: center;
  color: #FFF;
  /* 144.737% */
  padding-bottom: 57px;
}


.back {
  position: absolute;
  top: 211px;
  right: 100px;

}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 0px;
  border: 3px solid transparent;


  background: url("./back.svg") no-repeat;
  z-index: 1;

}

.backButton:hover {
  box-shadow: none;

}

.topic {
  padding-bottom: 57px;
}

.buttonContainer {
  padding-bottom: 60px;
}



.addButton {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 250.531px;
  height: 50.667px;
  flex-shrink: 0;
  border-radius: 40.783px;
  background: var(--vd, linear-gradient(90deg, #55C6F7 0%, #2AF8BA 107.16%));

  z-index: 1;


}

.textarea {
  font-family: 'Work Sans Variable', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: -0.05em;


  color: #FFF;
  border: 1px solid #55C6F7;
  border-radius: 20px;
  background: none;
  padding: 5px 25px;

  outline: none;
  margin-top: -30px;
  width: 80vw;


  


  resize: none;
}




.addQuestions {
  display: flex;
}
.filePicker {
  margin-top: -26px;
}
.errorMessage {
  color: red;
  font-size: 14.972px;
  font-style: normal;
  font-weight: 500;
  line-height: 24.33px;
  /* 162.5% */
  display: flex;
  margin-bottom: -20px;
  margin-top: 10px;

}


.newTopic {
  font-family: 'Work Sans Variable', sans-serif;
  position: relative;

  display: flex;

  align-items: center;
  justify-content: center;



  width: 380.843px;
  height: 110.872px;
  flex-shrink: 0;
  border-radius: 26.557px;
  background: rgba(217, 217, 217, 0.10);
  backdrop-filter: blur(5.8426361083984375px);
  position: relative;

  z-index: 1;






}


.plus {
  font-size: 70px;
  font-weight: 300;
  line-height: 35px;
  letter-spacing: -0.05em;
  background: var(--vd, linear-gradient(90deg, #55C6F7 0%, #2AF8BA 107.16%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 3;

}

.newTopic::before {
  border-radius: 26.557px;
  border: 0.266px solid transparent;
  padding: 10px;
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #55C6F7, #2AF8BA) border-box;
  /*3*/
  -webkit-mask:
    /*4*/
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  /*5'*/


}


.newTopic:hover {
  box-shadow:

    3px -3px 10px #55C6F7,
    -3px 3px 10px #2AF8BA;
  cursor: pointer;

}


.ellipse {
  position: absolute;
  top: -5px;
  right: 125px;
  z-index: 0;
}