
.container {
  width: 197.373px;
  height: 42.537px;
  flex-shrink: 0;
  border-radius: 28.075px;

  backdrop-filter: blur(4.400000095367432px);

  position: relative;
  background: rgba(0, 0, 0, 0.42);
  z-index: 0;



}

.container::before {
  border-radius: 28.075px;
  border: 1px solid transparent;

  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #55C6F7, #2AF8BA) border-box; /*3*/
  -webkit-mask: /*4*/
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/

}


.input {
  border-radius: 28.075px;
  border: 1px solid transparent;
background: rgba(0, 0, 0, 0.1);
width: 197.373px;
height: 42.537px;
flex-shrink: 0;
padding: 12px 25px;
color: #FFF;
box-sizing: border-box;
z-index: 1;
position: absolute;


}










