.container {

  font-family: 'Work Sans Variable', sans-serif;
  display: flex;
  justify-content: space-between;


}

.name {
  color: #FFF;
  display: flex;

  font-size: 21.13px;
  font-style: normal;
  font-weight: 700;
  line-height: 37.94px;
  /* 139.844% */
  align-items: center;
  justify-content: center;
}

.input {
  font-family: 'Work Sans Variable', sans-serif;
  border-radius: 20px;
  border: 1px solid var(--vd, #55C6F7);
  background: #1D1D1D;
  width: 426px;
  height: 50px;
  flex-shrink: 0;
  align-items: center;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.375px;
  padding-left: 20px;
  outline: none;
  z-index: 1;


}

.input:disabled {
  border: 1px solid var(--vd, #5C5C5C);


}

.inputSmall {
  font-family: 'Work Sans Variable', sans-serif;
  border: 1px solid var(--vd, #55C6F7);
  background: none;

  height: 50px;
  width: 285.531px;
  border-radius: 40.783px;
  flex-shrink: 0;
  align-items: center;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.375px;
  padding-left: 20px;
  outline: none;
  z-index: 1;

}





.textarea {
  font-family: 'Work Sans Variable', sans-serif;
  border-radius: 20px;
  border: 1px solid var(--vd, #55C6F7);
  background: #1D1D1D;
  width: 426px;
  height: 100px;
  flex-shrink: 0;
  align-items: center;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.375px;
  padding-left: 20px;
  padding-top: 15px;
  outline: none;
  z-index: 1;
  resize: none;

}

.textarea:disabled {
  border: 1px solid var(--vd, #5C5C5C);


}





.control {
  position: relative;
  background: none;

  width: 287.531px;
  height: 52px;
  border-radius: 40.783px;
  border: 1px solid #55C6F7;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.375px;

  color: #FFF;
  cursor: pointer;
  outline: none;
  padding-left: 20px;
  transition: all 200ms ease;
  display: flex;
  align-items: center;
}


.menu {
  border: 1px solid #55C6F7;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  font-family: 'Work Sans Variable', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.375px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;

  margin-top: 5px;
  max-height: 250px;
  overflow-y: auto;
  /* position: absolute; */
  width: 285.531px;
  gap: 10px;

  border-radius: 20px;

  color: #FFF;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  cursor: pointer;
}





.arrow {
  border-color: #FFF transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  position: absolute;
  right: 10px;
  top: 22px;
  width: 0;
}

@media (max-width: 768px) {
  .input {
    width: auto;
    height: 30px;

  }
  .textarea {
    width: auto;
  }

  .name {
    font-size: 15px;
    line-height: normal;
  }
}