.container {
  font-family: 'Work Sans Variable', sans-serif;
  position: relative;

display: flex;
justify-content: center;


gap: 46px;
flex-wrap: wrap;

}






@media (max-width: 768px) and (orientation:portrait) , (max-height:768px) and (orientation:landscape){
  .container {
    flex-wrap: wrap;
    gap:20px;
  }

}