.container {
  font-family: 'Work Sans Variable', sans-serif;
  position: relative;

display: flex;
flex-direction: column;

align-items: center;
/* position: absolute;
bottom:  0; */




}



.photo {
  width: 57px;
height: 57px;
flex-shrink: 0;
border-radius: 70.336px;
border: 3px solid #303030;

display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
object-fit: cover;


}


.name {
  color: #FFF;
  font-size: 16.457px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.82px; /* 144.737% */

display: flex;


gap: 5px;

}


.nameYou {
  color: #FFF;

  font-size: 16.457px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.82px; /* 144.737% */
  background: var(--vd, linear-gradient(90deg, #55C6F7 0%, #2AF8BA 107.16%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;



display: flex;
gap: 5px;
}




.rectangle {
  width: 64px;
height: var(--height);
flex-shrink: 0;
background: var(--vd, linear-gradient(90deg, #55C6F7 0%, #2AF8BA 107.16%));


color: #FFF;
text-align: center;
font-size: 30.556px;
font-style: normal;
font-weight: 700;
line-height: 43.954px; /* 143.851% */
display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 763px) and (orientation:portrait) , (max-height:763px) and (orientation:landscape){
  .rectangle {
    width: 30px;
    font-size: 20px;
    line-height: normal;
    

  }
}













