

.headerItem {
  color: #FFF;
  font-family: 'Work Sans Variable', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.375px; /* 139.844% */
  cursor: pointer;
  text-decoration: none;
}

.headerButton {
  color: #FFF;
  font-family: 'Work Sans Variable', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.375px; /* 139.844% */
  margin-left: 350px;
}

.person {
  
  align-items: center;
  justify-content: center;


}

.login {
  display: flex;
  gap: 6px;
}