.container {
  font-family: 'Work Sans Variable', sans-serif;
  position: relative;

height: 960px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;


}

.inputs {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  margin-top: 53px;
  
}

.input {
  width: 285.531px;
height: 46.667px;
border-radius: 40.783px;
border: 1px solid var(--vd, #55C6F7);
background: rgba(0, 0, 0, 0.1);
padding: 15px 26px;
font-size: 13.918px;
font-style: normal;
font-weight: 500;
line-height: 22.616px; /* 162.5% */
box-sizing: border-box;
color: #FFF;
outline: none;
z-index: 1;

}

.title {

margin-top: 30px;
color: #FFF;
font-size: 50px;
font-style: normal;
font-weight: 700; 
line-height: 60px;
text-align: center;
z-index: 1;
}

.date {
  color: rgba(255, 255, 255, 0.18);
text-align: center;
font-size: 31.377px;
font-style: normal;
font-weight: 600;
line-height: 45.135px; /* 143.851% */
}



.continueButton {
  width: 285.531px;
  height: 45.66px;
  flex-shrink: 0;
border-radius: 40.783px;

background: var(--vd, linear-gradient(90deg, #55C6F7 0%, #2AF8BA 107.16%));

box-sizing: border-box;
color: #FFF;
font-size: 14.026px;
font-style: normal;
font-weight: 600;
line-height: 32.132px; /* 229.09% */
z-index: 1;
}


.footerContainer {
  margin-top: 16px;
display: flex;
gap: 10px;
}

.footerItem {
  color: #8E8E8E;
font-size: 14.972px;
font-style: normal;
font-weight: 500;
line-height: 24.33px; /* 162.5% */
}

.footerButton {

border: none;
color: #8E8E8E;
background: none;
font-size: 14.972px;
font-style: normal;
font-weight: 500;
line-height: 24.33px; /* 162.5% */
box-sizing: border-box;
padding: 0px;
text-decoration-line: underline;
z-index: 1;


}
.footerButton:hover {
  background: var(--vd, linear-gradient(90deg, #55C6F7 0%, #2AF8BA 107.16%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
box-shadow: none;

}



.ellipse1 {
  position: absolute;
  top: 0px;
    left: 0px;
    
}



.ellipse2 {
  position: absolute;
  bottom: 0px;
    right: 0px;
    
}







