.container {
  font-family: 'Work Sans Variable', sans-serif;

  display: flex;
  flex-direction: column;



  position: relative;

  /*border-radius: 50px 0px 0px 50px;*/


background-color: #171717;
  background: url("./background.svg") , #171717 no-repeat;

 background-repeat: no-repeat;
  background-size: cover;

  margin-top: 40px;
  border-radius: 60px;
  padding-bottom: 56px;
  min-height: 800px;

}

.container::before {
  padding-bottom: 56px;
  border: 1px solid transparent;
  border-radius: 60px;
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #55C6F7, #2AF8BA) border-box; 
  -webkit-mask: 
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; 

}
.package {
  z-index: 1;
}


.title {
  color: #FFF;

font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 71.925px; /* 143.851% */
padding-top: 154px;
padding-left: 51px;
 
}

.subtitle {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 34.737px; /* 144.737% */
  padding-left: 51px;
}


.icon {
  position: absolute;
  top: 175px;
  /* right: 300px; */
  left: max( calc(100vw - 717px) , 582px );
  z-index: 0;
  
}



.footer {
  color: #838383;

font-size: 15.178px;
font-style: normal;
font-weight: 500;
line-height: 140.76%; /* 21.364px */
letter-spacing: -0.759px;
width: 300px;

}


.footerContainer {
  display: flex;
  flex-direction: column;
  width: 230px;

  gap: 21px;
  margin-left: 135px;
  margin-top: 36px;
}
.button {
  border-radius: 39px;
  border: 1.5px solid var(--vd, #55C6F7);
background: none;

font-size: 15.178px;
font-style: normal;
font-weight: 500;
line-height: 140.76%; /* 21.364px */
letter-spacing: -0.759px;
background: var(--vd, linear-gradient(90deg, #55C6F7 0%, #2AF8BA 107.16%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

padding: 16px 20px;
z-index: 1;


}



