.container {
  font-family: 'Work Sans Variable', sans-serif;
  height: 82px;

  display: flex;
  justify-content: space-between;
  align-items: center;




  /*border-radius: 50px 0px 0px 50px;*/


 
}

.group {
  display: flex;
  display: flex;
align-items: center;
}





.name {

  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.05em;
  text-align: left;
  
display: flex;
align-items: center;
background: var(--vd, linear-gradient(90deg, #55C6F7 0%, #2AF8BA 107.16%));
    
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
cursor: pointer;

}





.date {
  color: rgba(255, 255, 255, 0.39);
  font-size: 22.817px;
  font-style: normal;
  font-weight: 500;
  line-height: 140.76%; /* 32.117px */
  letter-spacing: -1.141px;

align-items: center;

display: flex;
margin-left: 55px;
}

.status {
  color: rgba(255, 255, 255, 0.39);

  font-size: 22.817px;
  font-style: normal;
  font-weight: 500;
  line-height: 140.76%; /* 32.117px */
  letter-spacing: -1.141px;
  align-items: center;

  display: flex;
 
}



.divider {
  border: 0.5px solid;
  border-image: linear-gradient(90deg, #55C6F7, #2AF8BA) 1;
}

